* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

header, footer {
    background:saddlebrown;
    color: bisque;
    text-align: center;
    padding: 15px;
}
main {
    flex: 1;
}

footer {
    margin-top: auto;
}

.menu ul {
    display: flex;
    list-style: none;
    background:peru;
}

.menu a {
    color:bisque;
    padding: 15px;
    display: block;
    text-decoration: none;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    border: 1px solid sienna;
    padding: 10px;
    width: 100%;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }

    .menu ul {
        flex-direction: column;
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}
